<div class="row">
  <div class="col-md-6 setDivWidthHeight" style="padding-top:10%;">
    <div ><span class="retroshadow"><h1>DR3AMS</h1></span></div>
      <span class="titleStyle">Distributed Reduce Reuse Recycle and Management System</span><br><br>
      <h3>An online portal helping users connect and contribute towards sustainability</h3>
      <div>
          
      </div>
  </div>
  <div class="col-md-6 setDivWidthHeight">
      <img src="./assets/images/logo1.jpg" class="img-fluid animated " alt=" ">
  </div>
  
  <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h4>Team Script Kiddies</h4>
      </div>
</div>

<!-- <div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo1.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Team Script Kiddies</h3>
      </div>

      <div class="text-center">@deborahkurata</div>
      <div class="text-center">
        <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
      </div>
    </div>
  </div>
</div> -->