.setDivWidthHeight {
    padding: 50px 50px 50px 50px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
    background: whitesmoke;
    box-shadow: 0 0 8px #006644;
    border-radius: 6px;
}

img {
    width: 70%;
    float: right;
    margin-right: 13px;
}

.arrow-highlight{
    position:relative;
    margin:0 0.5em;
    padding:0 0.2em;
  }
  .arrow-highlight:before{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:0.1em;
    border-width:0.5em;
    border-style:solid;
    border-color:orange;
    position:absolute;
    width:calc(100% - 0.5em);
    border-left-color:transparent;
  }
  .arrow-highlight:after{
    content:"";
    z-index:-1;
    right:0;
    top:0.1em;
    border-width:0.5em;
    border-style:solid;
    border-color:orange;
    position:absolute;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-left-color:transparent;
    transform:rotate(180deg);
    transform-origin:center right;
  }


.titleStyle {
    font-size: 36px;
    font-weight: 500;
    text-shadow: .1em .1em .2em rgba(39, 38, 38, 0.6);
}

@media only screen and (min-width: 500px) and (max-width: 991px) {
    img {
        margin: 0px 130px 40px auto;
    }
}

@media only screen and (min-width: 550px) and (max-width: 700px) {
    img {
        margin: 0px 80px 40px auto;
    }
}

@media only screen and (max-width: 500px) {
    img {
        margin: 0px 60px 40px auto;
    }
}

h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 50px;
  
   
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
   
    .retroshadow {
      color: #2c2c2c;
      background-color: #d5d5d5;
      letter-spacing: .05em;
      text-shadow: 
        4px 4px 0px #d5d5d5, 
        7px 7px 0px rgba(0, 0, 0, 0.2);
    }
  